@import 'styles/lib';

.pagination {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;

  @include mq(md) {
    justify-content: flex-start;
  }

  &--empty {
    display: none;
  }

  &__page {
    margin-left: 4px;
  }

  &__link {
    border: var(--border);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2rem;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    transition: 0.15s;

    &--active {
      color: var(--primary);
    }

    &--previous,
    &--next {
      width: auto;
      padding: 0 12px;
      display: none;

      @include mq(sm) {
        display: block;
      }
    }

    &--break {
      pointer-events: none;
    }

    &:hover {
      background: var(--border-color);
    }
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
